.reusable-auth {
  width: 900px;
  display: flex;
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 4rem auto;

  box-shadow: 5px 5px 2px rgb(238, 238, 238);
  .reusable-image {
    width: 50%;
    img {
      border-radius: 15px;
    }
  }

  .reusable-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 2rem;
    h2 {
      text-align: center;
    }
    .reusable-form span {
      color: red;
    }
    span {
      font-size: 13px;
    }
  }
}

.reusable-btn {
  width: 100%;
  height: 45px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.direction-icon {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.direction-icon:hover {
  background-color: #ccc;
}

.fa-arrow-left {
  color: #000;
  text-decoration: none;
}
